-i https://pypi.org/simple
biopython==1.76
certifi==2019.11.28
chardet==3.0.4
dateparser==0.7.4
idna==2.9
numpy==1.18.2
panda==0.3.1
pandas==1.0.3
python-dateutil==2.8.1
pytz==2019.3
pyyaml==5.3.1
regex==2020.2.20
requests==2.23.0
six==1.14.0
tqdm==4.43.0
tzlocal==2.0.0
ucsc-genomes-downloader==1.1.17
urllib3==1.25.8
